<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <p style="color: red; font-weight: bold;">Hola mundo!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem libero hic at debitis molestiae ratione magni delectus, repudiandae alias commodi praesentium consequuntur dolor sed, quas, incidunt rem officiis officia. Aliquid.</p>
    <p class="delmedio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem libero hic at debitis molestiae ratione magni delectus, repudiandae alias commodi praesentium consequuntur dolor sed, quas, incidunt rem officiis officia. Aliquid.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem libero hic at debitis molestiae ratione magni delectus, repudiandae alias commodi praesentium consequuntur dolor sed, quas, incidunt rem officiis officia. Aliquid.</p>
</body>
</html>